<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chessgo"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".frontend.irlMenu.creating.CreatingMenuActivity"
            android:exported="true"
            android:label="@string/title_activity_creating_menu"
            android:theme="@style/Theme.Chessgo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frontend.irlMenu.searching.SearchingMenu"
            android:exported="true"
            android:label="@string/title_activity_map"
            android:theme="@style/Theme.Chessgo">
        </activity>
        <activity
            android:name=".frontend.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Chessgo">

        </activity>
        <activity
            android:name=".frontend.registration.sign_up.SignUpActivity"
            android:label="SignIn">
        </activity>
        <activity
            android:name=".frontend.registration.sign_in.SignInActivity"
            android:label="SignUp">
        </activity>
        <activity
            android:name=".frontend.mainmenu.MainMenuActivity"
            android:label="MainMenu">
        </activity>
        <activity
            android:name=".frontend.mainmenu.realtimegame.RealLifeMenuActivity"
            android:label="RealLifeMenuScreen">
        </activity>
        <activity
            android:name=".frontend.mainmenu.onlinegame.OnlineGameMenuActivity"
            android:label="OnlineMenuScreen">
        </activity>
    </application>

</manifest>